@import "/assets/css/style.css";

#lsRepo {
	padding: 0px;
	column-width: 40ex;
}

#lsRepo li {
	break-inside: avoid;
	list-style: none;
	margin-left: 0px;
	margin-right: 0px;
}

#lsRepo p {
	margin-top: 0px;
}

hgroup {
	font-weight: bold;
}

.mark {
	height: 1rem;
}

#path404 {
	font-size: xx-large;
}
